@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --text: #faf6f5;
  --background: #180e0b;
  --primary-button: #ccba93;
  --secondary-button: #1f2310;
  --accent: #c2cc93;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body{
    background-color: var(--background);
}